<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Esportsify - Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/components/header.css">
        <link rel="stylesheet" href="/styles/layouts/box.css">
        <link rel="stylesheet" href="/styles/layouts/button.css">
        <link rel="stylesheet" href="/styles/dashboard.css">
        <link rel="stylesheet" href="/styles/layouts/icon.css">
    </head>
    <body>
        <div class="app">
        {{> header}}
        <div class="container">
            {{{body}}}
        </div>
        {{> footer}}

        </div>
        {{!-- <script type="module" src="/js/main.js"></script> --}}
        <script type="module" src="/js/pages/dashboard-management.js"></script>
    </body>
</html>